.title{
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: #FF0000;
    text-align: center;
}

// @media screen and (max-width: 1500px){
//     .title{
//         font-size: 3.5rem;
//         line-height: 4.5rem;
//     }
// }
